@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
.potfolio {
  position: fixed;
  right: 50px;
  color: white;

  margin-top: 0px;
  margin-right: px;
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  font-style: normal;
  font-size: 15px;
  z-index: 9999999999999999999999999999999999999;
}

.nav-menu {
  position: fixed;
  bottom: 0px;
  top: 50px;
  left: -100%;
  height: 100vh;
  background: rgba(240, 249, 249, 1);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 40px;
  padding-top: 10px;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.nav-menu.active {
  left: 0;
}
.dropdown1 {
  display: flex;
  flex-direction: column;
}
.dropdown_log {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid black;
  text-align: center;
  gap: 20px;
}
.header_button2 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: rgba(89, 193, 189, 1);
  margin-top: 24px;
  border: 0px;
  background: none;
}
.log4 {
  width: 180px;
  height: 53px;
  padding: 16px 24px 16px 24px;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid rgba(89, 193, 189, 1);
}
.drop_1 {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.a7 {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500px;
  line-height: 30px;
  text-align: center;
  color: rgba(115, 115, 115, 1);
}
.dropdown2 {
  width: 32px;
  height: 32px;
  margin-top: 2px;
  color: rgba(115, 115, 115, 1);
}

.first_containter {
  width: 100%;
  background: rgba(33, 89, 87, 1);
  height: 1100px;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 127px;
  height: 48px;
  gap: 8px;
}

#logo_link {
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  font-style: normal;
  font-size: 32px;
  text-align: center;
  color: rgba(253, 253, 253, 1);
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#logo_icon {
  width: 40px;
  height: 40px;
}

header {
  position: fixed;
  left: 0px;
  right: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  padding-top: 33px;
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;
  z-index: 9999;
  background: rgba(33, 89, 87, 1);
}

nav {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  padding-top: 8px;
}

#header_button {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: transparent;
  outline: 0px;
  cursor: pointer;
}

.dropbox {
  display: none;
  cursor: pointer;
}

.header_button1 {
  height: 40px;
  /* gap: 8px; */
  opacity: 0px;
  background-color: transparent;
  border: 1px solid rgba(89, 193, 189, 1);
  border-radius: 10px;
  color: rgba(89, 193, 189, 1);
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  font-size: 24px;
  text-align: left;
  cursor: pointer;
}

.Log {
  width: 90px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  font-size: 24px;
  text-align: left;
}

.drop {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.dropdown {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: 0px;
  width: 32px;
  height: 32px;
  outline: none;
  margin-top: -3px;
}

.a1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  font-style: normal;
  font-size: 24px;
  text-align: left;
  text-decoration: none;
  color: rgba(232, 232, 232, 1);
}

#subsection1 {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-left: 80px;
  padding-top: 250px;
  padding-right: 80px;
}

.subsection1A {
  width: 50%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.Improve {
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  font-size: 56px;
  text-align: left;
  line-height: 70px;
  color: rgba(253, 253, 253, 1);
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.subsection1B {
  width: 50%;
  height: 712px;
  left: 755px;
  gap: 0px;
  opacity: 0px;
  margin-top: -30px;
}

.innerdiv {
  position: relative;
  background: rgba(240, 249, 249, 1);
  width: 537px;
  height: 620px;
  gap: 0px;
  border-radius: 12px;
  opacity: 0px;
  margin-top: 24px;
  margin-left: 68px;
}

.innerimg {
  position: absolute;
  margin-top: 12px;
  width: 537px;
  height: 596px;
  gap: 0px;
  border-radius: 12px;
  right: 10px;
}

.Welcome_p {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  color: rgba(232, 232, 232, 1);
  margin-top: 40px;
}

#sec4_button {
}

.subsection1button {
  border: 0px;
  margin-top: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  font-size: 20px;
  text-align: center;
  border-radius: 12px;
  opacity: 0px;
  color: rgba(253, 253, 253, 1);
  margin-top: 20px;
  width: 219px;
  height: 70px;
  background-color: rgba(89, 193, 189, 1);
  cursor: pointer;
}

.frame1 {
  display: flex;
  flex-direction: row;
  width: 230px;
  height: 55px;
  gap: 8px;
  border-radius: 12px;
  background: rgba(240, 249, 249, 1);
  justify-content: center;
  margin-top: -500px;
  position: absolute;
  margin-left: 20px;
}

.frame1p {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  color: rgba(37, 37, 37, 1);
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
}

.call_me_hand {
  height: 24px;
  width: 24px;
  align-items: center;
  padding-top: 15px;
}

.frame2 {
  display: flex;
  flex-direction: row;
  width: 230px;
  height: 92px;
  gap: 8px;
  border-radius: 12px;
  opacity: 0px;
  background: rgba(240, 249, 249, 1);
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: -180px;
  margin-left: 15px;
}

.frame2p {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  text-align: left;
}

.icon2 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 50px;
  height: 24px;
  width: 24px;
  padding-left: 5px;
}

.frame3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 230px;
  height: 72px;
  border-radius: 12px;
  opacity: 0px;
  background: rgba(240, 249, 249, 1);
  position: absolute;
  margin-left: 410px;
  gap: 8px;
  margin-top: -50px;
}

.icon3 {
  width: 24px;
  height: 24px;
  padding-top: 10px;
  margin-left: 8px;
}

.frame3p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  margin-top: 12px;
}

.subsection2 {
  width: 403px;
  height: 199px;
  padding-left: 80px;
  opacity: 0px;
  margin-top: -70px;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  color: rgba(253, 253, 253, 1);
}

.subsection2B {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  color: rgba(232, 232, 232, 1);
}

.profile {
  display: flex;
  flex-direction: row;
  gap: 9px;
  margin-top: -20px;
}

.profile_img {
  height: 26px;
  width: 26px;
  margin-top: 25px;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  color: rgba(253, 253, 253, 1);
}

.second_container {
  background-color: rgba(248, 252, 252, 1);
  margin-top: -32px;
  width: 100%;
  height: 616px;
  gap: 0px;
  opacity: 0px;
}

.subsection2A {
  text-align: center;
  width: 723px;
  height: 108px;
  padding-top: 80px;
  opacity: 0px;
  margin: auto;
}

.subsection2_h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}

.subsection2_span {
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  font-size: 40px;
  color: rgba(33, 89, 87, 1);
}

.subsection2_p {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  margin-top: -20px;
}

.subsection3 {
  width: 100%;
  height: fit-content;
  margin-top: 32px;
  border-radius: 8px;
  opacity: 0px;
  background: rgba(253, 253, 253, 1);
}

.subsection3A {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content: space-around;
  opacity: 0px;
  gap: 10px;
  margin-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;
}

.subsection3B {
  width: 50%;
  height: fit-content;
  border-right: 1px solid black;
  opacity: 0px;
}

.cont {
  border: 0px;
}

.subsection3_h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  font-size: 24px;
}

.subsection3_p {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  font-size: 20px;
  color: rgba(115, 115, 115, 1);
}

.subsection4 {
  margin-left: 80px;
}

.subsection4_h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  font-size: 40px;
}

.subsection4_p {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  font-size: 24px;
}

.subsection4A {
  display: flex;
  flex-direction: row;
  gap: 93.17px;
}

.subsection4B {
  display: flex;
  flex-direction: row;
  gap: 93.17px;
  padding-top: 150px;
}

.subsections_inner {
  width: 25%;
  height: 92px;
  gap: 12px;
  opacity: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.subsection4_h1a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(253, 140, 1, 1);
}

.subsection4_h3a {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin-top: -25px;
}

.subsection4_p1 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 0px;
  margin-top: -10px;
}

.sec4_last {
  height: fit-content;
}

.subsection4_button {
  width: 219px;
  height: 60px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600px;
  color: rgba(253, 253, 253, 1);
  background: rgba(89, 193, 189, 1);
  border: 0px;
  border-radius: 8px;
  margin-left: 50px;
  margin-top: -60px;
  /* padding: 24px 40px 24px 40px; */
  opacity: 0px;
  text-align: center;
  position: absolute;
  cursor: pointer;
}

.third_container {
  width: 100%;
  /* height: max-content; */
  top: 1756px;
  gap: 0px;
  opacity: 0px;
}

.grid_1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: -50px;
  gap: 20px;
}

.forth_container {
  height: fit-content;
  padding-top: 95px;
}

.subsection5 {
  width: 1296px;
  height: 250px;
  gap: 0px;
  margin: auto;
  background: rgba(33, 89, 87, 1);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.subsection5a {
  width: 800px;
  height: 100px;
  margin: auto;
  padding-top: 30px;
  text-align: center;
  color: rgba(253, 253, 253, 1);
}

.subsection5_h1 {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
}

.form1 {
  background: rgba(33, 89, 87, 1);
  border: 0px;
  width: 252px;
  height: 50px;
  gap: 10px;
  border-radius: 9px;
  opacity: 0px;
  border: 1px solid rgba(212, 212, 216, 1);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400px;
  line-height: 26px;
  text-align: left;
  padding-left: 20px;
}

.sec5_button {
  width: 256px;
  height: 55px;
  padding: 16px;
  border: 0px;
  border-radius: 9px;
  opacity: 0px;
  background: rgba(253, 253, 253, 1);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
}

.form_sec5 {
  display: flex;
  gap: 13px;
}

.ab_img1 {
  position: absolute;
  right: -40px;
  top: 178px;
}

.ab_img {
  position: absolute;
  top: 0px;
}

footer {
  width: 100%;
  height: 350px;
  gap: 0px;
  opacity: 0px;
  margin: 0px;
  padding: 0px;
}

.footer_logo {
  display: flex;
  flex-direction: row;
  width: 127px;
  height: 48px;
  gap: 8px;
}

footer_icon {
  width: 40px;
  height: 40px;
}

.footer_logo_h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  font-style: normal;
  font-size: 32px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.footer_social_icon {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.footer_subsection1 {
  width: 300px;
  height: 100px;
  opacity: 0px;
}
.a2 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 30px;
  gap: 0px;
  opacity: 0px;
  gap: 13px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 68px;
}

a {
  text-decoration: none;
  color: rgba(115, 115, 115, 1);
}

.footer1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1250px;
  height: 206px;
  opacity: 0px;
  margin: auto;
  margin-top: 80px;
}

.footer_p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgba(115, 115, 115, 1);
}

.footerp2 {
  width: 1230px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-top: 0.3px solid rgba(115, 115, 115, 1);
  margin: auto;
  text-align: center;
  margin-top: 36px;
  padding-top: 16px;
}

.subsection_main {
  width: 100%;
  height: fit-content;
  margin: 0px;
  padding-right: 80px;
  padding-left: 80px;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  box-sizing: border-box;
}

#sec4_button {
  margin-left: -78px;
  width: 219px;
  height: 90px;
  border-radius: 12px;
  opacity: 0px;
  margin: auto;
  margin-top: 50px;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  first_containter {
    width: 100%;
    height: 1200px;
    background: rgba(33, 89, 87, 1);
    height: 1100px;
  }

  .logo {
    display: flex;
    flex-direction: row;
    width: 127px;
    height: fit-content;
    gap: 8px;
  }

  #logo_link {
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    color: rgba(253, 253, 253, 1);
    margin: 0px;
    padding: 0px;
    border: 0px;
  }

  #logo_icon {
    width: 32px;
    height: 32px;
  }

  header {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 0px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 33px;
    z-index: 9999999;
    box-sizing: border-box;
    background: rgba(33, 89, 87, 1);
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    padding-top: 8px;
  }

  #header_button {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: transparent;
    outline: 0px;
    padding-bottom: 4px;
    cursor: pointer;
  }

  .dropbox {
    display: none;
  }

  .header_button1 {
    height: 40px;
    /* gap: 8px; */
    opacity: 0px;
    background-color: transparent;
    border: 1px solid rgba(89, 193, 189, 1);
    border-radius: 10px;
    color: rgba(89, 193, 189, 1);
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 20px;
    text-align: left;
    cursor: pointer;
  }

  .Log {
    width: 90px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 24px;
    text-align: left;
  }

  .drop {
    display: flex;
    flex-direction: row;
    gap: 0px;
  }

  .dropdown {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    width: 32px;
    height: 32px;
    outline: none;
    margin-top: -3px;
  }

  .a1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    color: rgba(232, 232, 232, 1);
  }

  #subsection1 {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-top: 210px;
    padding-right: 40px;
    gap: 10px;
  }

  .subsection1A {
    width: 50%;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }

  .Improve {
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 40px;
    text-align: left;
    line-height: 60px;
    color: rgba(253, 253, 253, 1);
    margin: 0px;
    padding: 0px;
    border: 0px;
  }

  .subsection1B {
    width: 50%;
    height: 712px;
    left: 755px;
    gap: 0px;
    opacity: 0px;
    margin-top: -30px;
    position: relative;
  }

  .innerdiv {
    position: relative;
    background: rgba(240, 249, 249, 1);
    width: 520px;
    height: 603px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    margin-top: 24px;
    margin-left: 68px;
  }

  .innerimg {
    position: absolute;
    margin-top: 12px;
    width: 520px;
    height: 579px;
    gap: 0px;
    border-radius: 12px;
    right: 10px;
  }

  .Welcome_p {
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    color: rgba(232, 232, 232, 1);
    margin-top: 40px;
  }

  .subsection1button {
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    width: 200px;
    height: 50px;
    gap: 8px;
    border: none;
    border-radius: 12px;
    opacity: 0px;
    background: rgba(89, 193, 189, 1);
    color: rgba(253, 253, 253, 1);
    margin-top: 20px;
    cursor: pointer;
  }

  .frame1 {
    display: flex;
    flex-direction: row;
    width: 230px;
    height: 55px;
    gap: 8px;
    border-radius: 12px;
    background: rgba(240, 249, 249, 1);
    justify-content: center;
    margin-top: -500px;
    position: absolute;
    margin-left: 20px;
  }

  .frame1p {
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    color: rgba(37, 37, 37, 1);
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
  }

  .call_me_hand {
    height: 20px;
    width: 24px;
    align-items: center;
    padding-top: 15px;
  }

  .frame2 {
    display: flex;
    flex-direction: row;
    width: 230px;
    height: 92px;
    gap: 8px;
    border-radius: 12px;
    opacity: 0px;
    background: rgba(240, 249, 249, 1);
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -180px;
    margin-left: 15px;
  }

  .frame2p {
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    text-align: left;
  }

  .icon2 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 50px;
    height: 20px;
    width: 20px;
    padding-left: 5px;
  }

  .frame3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 230px;
    height: 72px;
    border-radius: 12px;
    opacity: 0px;
    background: rgba(240, 249, 249, 1);
    position: absolute;
    margin-left: 390px;
    gap: 8px;
    margin-top: -50px;
  }

  .icon3 {
    width: 20px;
    height: 20px;
    padding-top: 10px;
    margin-left: 8px;
  }

  .frame3p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    margin-top: 12px;
  }

  .subsection2 {
    width: 403px;
    height: 199px;
    padding-left: 80px;
    opacity: 0px;
    margin-top: 20px;
  }

  h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    color: rgba(253, 253, 253, 1);
  }

  .subsection2B {
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: rgba(232, 232, 232, 1);
    margin-top: -20px;
  }

  .profile {
    display: flex;
    flex-direction: row;
    gap: 9px;
    margin-top: -30px;
  }

  .profile_img {
    height: 24px;
    width: 24px;
    margin-top: 25px;
  }

  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 14px;
    line-height: 28px;
    text-align: left;
    color: rgba(253, 253, 253, 1);
  }

  .second_container {
    background-color: rgba(248, 252, 252, 1);
    margin-top: -32px;
    width: 100%;
    height: 616px;
    gap: 0px;
    opacity: 0px;
  }

  .subsection2A {
    text-align: center;
    width: 700px;
    height: 100px;
    padding-top: 80px;
    opacity: 0px;
    margin: auto;
  }

  .subsection2_h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 60px;
  }

  .subsection2_span {
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 36px;
    color: rgba(33, 89, 87, 1);
  }

  .subsection2_p {
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    margin-top: -20px;
  }

  .subsection3 {
    width: 100%;
    height: fit-content;
    margin-top: 32px;
    border-radius: 8px;
    opacity: 0px;
    background: rgba(253, 253, 253, 1);
  }

  .subsection3A {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    opacity: 0px;
    gap: 10px;
    margin-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    box-sizing: border-box;
  }

  .subsection3B {
    width: 50%;
    height: fit-content;
    border-right: 1px solid black;
    opacity: 0px;
  }

  .cont {
    border: 0px;
  }

  .subsection3_h1 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 20px;
  }

  .subsection3_p {
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 16px;
    color: rgba(115, 115, 115, 1);
  }

  .subsection4 {
    margin-left: 40px;
  }

  .subsection4_h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 40px;
  }

  .subsection4_p {
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 24px;
  }

  .subsection4A {
    display: flex;
    flex-direction: row;
    gap: 93.17px;
  }

  .subsection4B {
    display: flex;
    flex-direction: row;
    gap: 93.17px;
    padding-top: 150px;
  }

  .subsections_inner {
    width: 25%;
    height: 92px;
    gap: 12px;
    opacity: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }

  .subsection4_h1a {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(253, 140, 1, 1);
  }

  .subsection4_h3a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin-top: -25px;
  }

  .subsection4_p1 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin: 0px;
    margin-top: -10px;
  }

  .sec4_last {
    height: fit-content;
  }

  .secimg {
    width: 50%;
  }

  .in_img {
    width: 510px;
    height: 510px;
    padding-right: 40px;
    box-sizing: border-box;
  }

  .subsection4_button {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600px;
    color: rgba(253, 253, 253, 1);
    background: rgba(89, 193, 189, 1);
    border: 0px;
    border-radius: 8px;
    margin-left: 40px;
    /* padding: 24px 40px 24px 40px; */
    text-align: center;
    cursor: pointer;
    margin-top: 20x;
  }

  .third_container {
    width: 100%;
    /* height: max-content; */
    top: 1600px;
    gap: 0px;
    opacity: 0px;
  }

  .grid_1 {
    margin-top: -40x;
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .forth_container {
    height: fit-content;
    padding-top: 95px;
  }

  .subsection5 {
    overflow: hidden;
    width: 95%;
    height: 250px;
    gap: 0px;
    margin: auto;
    opacity: 0px;
    background: rgba(33, 89, 87, 1);
    border-radius: 10px;
    position: relative;
  }

  .subsection5a {
    width: 800px;
    height: 100px;
    margin: auto;
    padding-top: 30px;
    text-align: center;
    color: rgba(253, 253, 253, 1);
  }

  .subsection5_h1 {
    font-family: "Poppins", sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
  }

  .form1 {
    background: rgba(33, 89, 87, 1);
    border: 0px;
    width: 252px;
    height: 50px;
    gap: 10px;
    border-radius: 9px;
    opacity: 0px;
    border: 1px solid rgba(212, 212, 216, 1);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    text-align: left;
    padding-left: 20px;
  }

  .sec5_button {
    width: 256px;
    height: 55px;
    padding: 16px;
    border: 0px;
    border-radius: 9px;
    opacity: 0px;
    background: rgba(253, 253, 253, 1);
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
  }

  .form_sec5 {
    display: flex;
    gap: 13px;
  }

  .ab_img1 {
    position: absolute;
    right: -40px;
    top: 178px;
  }

  .ab_img {
    position: absolute;
    top: 0px;
  }

  footer {
    width: 100%;
    height: 350px;
    gap: 0px;
    opacity: 0px;
    margin: 0px;
    padding: 0px;
  }

  .footer_logo {
    display: flex;
    flex-direction: row;
    width: 127px;
    height: 48px;
    gap: 8px;
  }

  footer_icon {
    width: 40px;
    height: 40px;
  }

  .footer_logo_h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500px;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }

  .footer_social_icon {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .footer_subsection1 {
    width: 300px;
    height: 100px;
    opacity: 0px;
  }

  .a2 {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    gap: 13px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 68px;
  }

  a {
    text-decoration: none;
    color: rgba(115, 115, 115, 1);
  }

  .footer1 {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    height: 206px;
    opacity: 0px;
    margin: auto;
    margin-top: 70px;
  }

  .footer_p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: rgba(115, 115, 115, 1);
  }

  .footerp2 {
    width: 100%;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-top: 0.3px solid rgba(115, 115, 115, 1);
    margin: auto;
    text-align: center;
    margin-top: 36px;
    padding-top: 16px;
  }

  .subsection_main {
    width: 100%;
    height: fit-content;
    margin: 0px;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    box-sizing: border-box;
  }

  #sec4_button {
    margin-top: 165px;
    margin-left: -78px;
  }
}

@media only screen and (max-width: 900px) {
  .first_containter {
    width: 100%;
    height: 1100px;
    gap: 0px;
    opacity: 0px;
    background: rgba(33, 89, 87, 1);
  }

  #logo_icon {
    width: 24px;
    height: 24px;
  }

  #logo_link {
    width: fit-content;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  nav {
    display: none;
  }

  .header_button {
    display: none;
  }

  .dropbox {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-end;
    margin-top: 3px;
  }

  #header_button {
    display: none;
  }

  header {
    justify-content: space-between;
    margin: 0px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }

  .span1 {
    width: 16px;
    border: 1px solid rgba(253, 253, 253, 1);
    height: 0px;
  }

  .span2 {
    width: 11px;
    border: 1px solid rgba(253, 253, 253, 1);
    height: 0px;
  }

  #subsection1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 180px;
    padding: 0px;
    margin: 0px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }

  .subsection1A {
    width: 100%;
    opacity: 0px;
    padding: 0px;
    margin: 0px;
  }

  .Improve {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    gap: 0px;
    opacity: 0px;
    padding: 0px;
    margin: 0px;
    margin-top: -40px;
  }

  .Welcome_p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    outline: 0px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    margin-top: 16px;
  }

  .subsection1button {
    width: 150px;
    height: 45px;
    border-radius: 12px;
    opacity: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    margin: 0px;
    padding: 0px;
    margin-top: 24px;
  }

  .subsection1B {
    width: 100%;
    height: fit-content;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
  }

  .subsection1Bb {
    height: max-content;
    width: 345px;
    height: fit-content;
    top: 558px;
    left: 15px;
    gap: 0px;
    border-radius: 12px 0px 0px 0px;
    opacity: 0px;
    margin: auto;
    padding-top: 50px;
    box-sizing: border-box;
  }

  .innerdiv {
    position: relative;
    width: 290px;
    height: 334px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    margin: 0px;
    padding: 0px;
    background: rgba(240, 249, 249, 1);
    margin: auto;
  }

  .innerimg {
    position: absolute;
    margin-top: 8px;
    width: 286px;
    height: 318px;
    gap: 0px;
    border-radius: 12px;
    right: 6px;
  }

  .frame1 {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 37px;
    gap: 2px;
    border-radius: 10px;
    background: rgba(240, 249, 249, 1);
    justify-content: center;
    margin-top: -280px;
    position: absolute;
    margin-left: 4px;
  }

  .frame1p {
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 14px;
    color: rgba(37, 37, 37, 1);
    margin: 0px;
    padding: 0px;
    padding-top: 9px;
  }

  .call_me_hand {
    height: 20px;
    width: 20px;
    align-items: center;
    padding-top: 8px;
  }

  .frame2 {
    display: flex;
    flex-direction: row;
    width: 168px;
    height: 60px;
    gap: 3px;
    border-radius: 12px;
    opacity: 0px;
    background: rgba(240, 249, 249, 1);
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -130px;
    margin-left: 4px;
  }

  .frame2p {
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 14px;
    text-align: left;
  }

  .icon2 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 38px;
    height: 20px;
    width: 20px;
    padding-left: 2px;
  }

  .frame3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 190px;
    height: 56px;
    border-radius: 10px;
    opacity: 0px;
    background: rgba(240, 249, 249, 1);
    position: absolute;
    margin-left: 150px;
    gap: 3px;
    margin-top: -30px;
  }

  .frame3p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
  }

  .icon3 {
    width: 24px;
    height: 24px;
    padding-top: 6px;
    margin-left: 6px;
  }

  .subsection2 {
    width: 343px;
    height: fit-content;
    opacity: 0px;
    margin: 0px;
    padding: 0px;
    margin-top: 100px;
    padding-left: 16px;
  }

  h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: rgba(253, 253, 253, 1);
    padding: 0px;
    margin: 0px;
  }

  .subsection2B {
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 26px;
    text-align: left;
    color: rgba(232, 232, 232, 1);
    margin: 0px;
    padding: 0px;
  }

  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 14px;
    line-height: 28px;
    text-align: left;
    color: rgba(253, 253, 253, 1);
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
  }

  .profile_img {
    height: 26px;
    width: 26px;
    margin-top: 10px;
  }

  .logo {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    gap: 6px;
  }

  .second_container {
    width: 100%;
    height: fit-content;
  }

  .profile {
    margin-top: 10px;
  }

  .subsection2 {
    margin-top: 220px;
  }

  .subsection2A {
    width: 100%;
  }

  .subsection2_h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 60px;
    margin: 0px;
    padding: 0px;
    margin: auto;
  }

  .subsection2_span {
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 24px;
    color: rgba(33, 89, 87, 1);
  }

  .subsection2_p {
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    margin-top: -20px;
    text-align: left;
    margin-left: 16px;
  }

  .subsection3 {
    width: 100%;
    height: 413px;
    border-radius: 8px;
    opacity: 0px;
    margin: 0px;
    padding: 0px;
    margin-top: 24px;
  }

  .subsection3A {
    width: 100%;
    display: inline-block;
    height: 381px;
    gap: 0px;
    opacity: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    left: 0px;
    right: 0px;
  }

  .subsection3B {
    width: 311px;
    margin: 0px;
    padding: 0px;
    height: 119px;
    border: 0px;
    border-bottom: 1px solid black;
    opacity: 0px;
    margin: auto;
    background: rgba(253, 253, 253, 1);
  }

  .cont {
    border: 0px;
  }

  .subsection3_p {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    border: 0px;
  }

  .subsection3_h1 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }

  .third_container {
    width: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    padding-top: 40px;
  }

  .subsection4 {
    width: 344px;
    margin: 0px;
    padding: 0px;
    margin: auto;
  }

  .subsection4_h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }

  .subsection4_p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    width: 100%;
  }

  .sec4_last {
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin: auto;
  }

  .subsection_main {
    width: 100%;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
  }

  .grid_1 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
  }

  .subsection4A {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0px;
    padding: 0px;
    gap: 10px;
  }

  .subsection4B {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px;
    padding: 0px;
  }

  .subsection4_button {
    width: 200px;
    height: 60px;
    border-radius: 12px;
    margin-left: 35.5%;
    margin-top: 20px;
  }

  .subsections_inner {
    margin: auto;
    margin-top: 40px;
    width: 100%;
  }

  .subsection4_h1a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 100%;
  }

  .subsection4_h3a {
  }

  .secimg {
    width: 100%;
    height: fit-content;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    margin-top: 20px;
  }

  .in_img {
    width: 100%;
    height: 100%;
    padding-left: 25.5px;
    padding-right: 25.5px;
    box-sizing: border-box;
  }

  .subsection5 {
    width: 343px;
    height: fit-content;
    background: rgba(33, 89, 87, 1);
    position: relative;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
  }

  .subsection5a {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
  }

  .form_sec5 {
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .subsection5_h1 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin: 0px;
    width: 100%;
  }

  .form1 {
    width: 270px;
    height: 60px;
    gap: 13px;
    border-radius: 5px;
    border: 1px solid rgba(212, 212, 216, 1);
    opacity: 0px;
    box-sizing: border-box;
  }

  .sec5_button {
    width: 269px;
    height: 60px;
    gap: 10px;
    border-radius: 9px;
    opacity: 0px;
  }

  .ab_img {
    position: absolute;
    width: 166.84px;
    height: 250.7px;
    left: -120.65px;
    gap: 0px;
    border: 7px 0px 0px 0px;
    opacity: 0.2px;
  }

  .ab_img1 {
    position: absolute;
    padding-top: 70px;
    width: 80px;
    height: 150px;
    margin-right: 20px;
    gap: 0px;
    opacity: 0px;
    rotate: 40%;
  }

  .footer1 {
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
    gap: 20px;
    margin: 0px;
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }

  .footer_subsection1 {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
  }

  .footer_p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
  }

  footer {
    margin: auto;
    width: 100%;
    height: fit-content;
  }

  .footerp2 {
    width: 100%;
    margin-bottom: 40px;
  }

  .footer_icon {
    width: 40px;
    height: 40px;
  }

  .footer_logo_h1 {
    font-size: 24px;
  }

  .a2 {
    height: fit-content;
    font-size: 16px;
  }

  .a3 {
    margin-left: 250px;
    margin-top: px;
  }
}

@media only screen and (max-width: 600px) {
  .potfolio {
    right: 40px;
  }
  .first_containter {
    width: 100%;
    height: 1200px;
    gap: 0px;
    opacity: 0px;
    background: rgba(33, 89, 87, 1);
  }

  #logo_icon {
    width: 24px;
    height: 24px;
  }

  #logo_link {
    width: fit-content;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }

  nav {
    display: none;
  }

  .header_button {
    display: none;
  }

  .dropbox {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-end;
    margin-top: 3px;
  }

  #header_button {
    display: none;
  }

  header {
    justify-content: space-between;
    margin: 0px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }

  .span1 {
    width: 16px;
    border: 1px solid rgba(253, 253, 253, 1);
    height: 0px;
  }

  .span2 {
    width: 11px;
    border: 1px solid rgba(253, 253, 253, 1);
    height: 0px;
  }

  #subsection1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 180px;
    padding: 0px;
    margin: 0px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }

  .subsection1A {
    width: 100%;
    height: max-content;
    opacity: 0px;
    padding: 0px;
    margin: 0px;
  }

  .Improve {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    gap: 0px;
    opacity: 0px;
    padding: 0px;
    margin: 0px;
    margin-top: -40px;
  }

  .Welcome_p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    outline: 0px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    margin-top: 16px;
  }

  .subsection1button {
    width: 150px;
    height: 45px;
    border-radius: 12px;
    opacity: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    margin: 0px;
    padding: 0px;
    margin-top: 24px;
  }

  .subsection1B {
    width: 100%;
    height: fit-content;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
  }

  .subsection1Bb {
    height: max-content;
    width: 345px;
    height: fit-content;
    top: 558px;
    left: 15px;
    gap: 0px;
    border-radius: 12px 0px 0px 0px;
    opacity: 0px;
    margin: auto;
    padding-top: 50px;
    box-sizing: border-box;
  }

  .innerdiv {
    position: relative;
    width: 290px;
    height: 334px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    margin: 0px;
    padding: 0px;
    background: rgba(240, 249, 249, 1);
    margin: auto;
  }

  .innerimg {
    position: absolute;
    margin-top: 8px;
    width: 286px;
    height: 318px;
    gap: 0px;
    border-radius: 12px;
    right: 6px;
  }

  .frame1 {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 37px;
    gap: 2px;
    border-radius: 10px;
    background: rgba(240, 249, 249, 1);
    justify-content: center;
    margin-top: -280px;
    position: absolute;
    margin-left: 4px;
  }

  .frame1p {
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 14px;
    color: rgba(37, 37, 37, 1);
    margin: 0px;
    padding: 0px;
    padding-top: 9px;
  }

  .call_me_hand {
    height: 20px;
    width: 20px;
    align-items: center;
    padding-top: 8px;
  }

  .frame2 {
    display: flex;
    flex-direction: row;
    width: 168px;
    height: 60px;
    gap: 3px;
    border-radius: 12px;
    opacity: 0px;
    background: rgba(240, 249, 249, 1);
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -130px;
    margin-left: 4px;
  }

  .frame2p {
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 14px;
    text-align: left;
  }

  .icon2 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 38px;
    height: 20px;
    width: 20px;
    padding-left: 2px;
  }

  .frame3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 190px;
    height: 56px;
    border-radius: 10px;
    opacity: 0px;
    background: rgba(240, 249, 249, 1);
    position: absolute;
    margin-left: 135px;
    gap: 3px;
    margin-top: -30px;
  }

  .frame3p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
  }

  .icon3 {
    width: 24px;
    height: 24px;
    padding-top: 6px;
    margin-left: 6px;
  }

  .subsection2 {
    width: 343px;
    height: fit-content;
    opacity: 0px;
    margin: 0px;
    padding: 0px;
    margin-top: 100px;
    padding-left: 16px;
  }

  h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: rgba(253, 253, 253, 1);
    padding: 0px;
    margin: 0px;
  }

  .subsection2B {
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 26px;
    text-align: left;
    color: rgba(232, 232, 232, 1);
    margin: 0px;
    padding: 0px;
  }

  h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 14px;
    line-height: 28px;
    text-align: left;
    color: rgba(253, 253, 253, 1);
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
  }

  .profile_img {
    height: 26px;
    width: 26px;
    margin-top: 10px;
  }

  .logo {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    gap: 6px;
  }

  .second_container {
    width: 100%;
    height: fit-content;
  }

  .profile {
    margin-top: 10px;
  }

  .subsection2 {
    margin-top: 220px;
  }

  .subsection2A {
    width: 100%;
  }

  .subsection2_h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 60px;
    margin: 0px;
    padding: 0px;
    margin: auto;
  }

  .subsection2_span {
    font-family: "Poppins", sans-serif;
    font-weight: 600px;
    font-size: 24px;
    color: rgba(33, 89, 87, 1);
  }

  .subsection2_p {
    font-family: "Poppins", sans-serif;
    font-weight: 400px;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    margin-top: -20px;
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
  }

  .subsection3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 413px;
    border-radius: 8px;
    opacity: 0px;
    margin: 0px;
    padding: 0px;
    margin: auto;
    padding-top: 20px;
    margin-top: 120px;
  }

  .subsection3A {
    width: 100%;
    display: inline-block;
    height: 381px;
    gap: 0px;
    opacity: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    left: 0px;
    right: 0px;
  }

  .subsection3B {
    width: 311px;
    margin: 0px;
    padding: 0px;
    height: 119px;
    border: 0px;
    border-bottom: 1px solid black;
    opacity: 0px;
    margin: auto;
    background: rgba(253, 253, 253, 1);
  }

  .cont {
    border: 0px;
  }

  .subsection3_p {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    border: 0px;
  }

  .subsection3_h1 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 0px;
    margin: 0px;
  }

  .third_container {
    width: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    padding-top: 40px;
  }

  .subsection4 {
    width: 344px;
    margin: 0px;
    padding: 0px;
    margin: auto;
  }

  .subsection4_h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }

  .subsection4_p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    width: 100%;
  }

  .sec4_last {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    margin-top: -40px;
  }

  .subsection_main {
    width: 100%;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    margin-top: 50px;
  }

  .grid_1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .subsection4_p1 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    width: 338px;
    margin: auto;
    gap: 0px;
    opacity: 0px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .forth_container {
    margin-top: 70x;
  }

  .subsection4A {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    margin: auto;
  }

  .subsection4B {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0px;
    padding: 0px;
  }

  .subsection4_button {
    width: 150px;
    height: 50px;
    border-radius: 12px;
    margin-left: 29%;
    margin-top: 20px;
  }

  .subsections_inner {
    margin: auto;
    margin-top: 40px;
    width: 100%;
  }

  .subsection4_h1a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    width: 100%;
  }

  .subsection4_h3a {
  }

  .secimg {
    width: 100%;
    height: fit-content;
    gap: 0px;
    border-radius: 10px;
    opacity: 0px;
    padding-top: 20px;
  }

  .in_img {
    width: 100%;
    height: 100%;
    padding-left: 25.5px;
    padding-right: 25.5px;
    box-sizing: border-box;
  }

  .subsection5 {
    width: 343px;
    height: fit-content;
    background: rgba(33, 89, 87, 1);
    position: relative;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
  }

  .subsection5a {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
  }

  .form_sec5 {
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .subsection5_h1 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin: 0px;
    width: 100%;
  }

  .form1 {
    width: 270px;
    height: 60px;
    gap: 13px;
    border-radius: 5px;
    border: 1px solid rgba(212, 212, 216, 1);
    opacity: 0px;
    box-sizing: border-box;
  }

  .sec5_button {
    width: 269px;
    height: 60px;
    gap: 10px;
    border-radius: 9px;
    opacity: 0px;
  }

  .ab_img {
    position: absolute;
    width: 166.84px;
    height: 250.7px;
    left: -120.65px;
    gap: 0px;
    border: 7px 0px 0px 0px;
    opacity: 0.2px;
  }

  .ab_img1 {
    position: absolute;
    padding-top: 70px;
    width: 80px;
    height: 150px;
    margin-right: 20px;
    gap: 0px;
    opacity: 0px;
    rotate: 40%;
  }

  .footer1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: fit-content;
    gap: 5px;
    margin: 0px;
    padding-top: 40px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .footer_subsection1 {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
  }

  .footer_p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
  }

  footer {
    margin: auto;
    width: 100%;
    height: fit-content;
  }

  .footerp2 {
    width: 100%;
    margin-bottom: 40px;
  }

  .footer_icon {
    width: 40px;
    height: 40px;
  }

  .footer_logo_h1 {
    font-size: 24px;
  }

  .a2 {
    height: fit-content;
    font-size: 16px;
    width: fit-content;
    width: 35%;
  }
  .a3 {
    /* margin-left: 225px; */
  }
}
